body {
    background-color: #333;
    color:azure;
}

#num {
    position: left;
}

.column-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
}

.container {
    float: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
}

.output {
    display: flex;
    background-color: #262532;
}

.hidden-element {
    display: none;
}
