body {
    background-color: #333;
}

p {
    color:azure;
}

#num {
    position: left;
}

.column-container {
    display: flex;
    flex-direction: column; /* Розміщує дочірні елементи вертикально */
    gap: 10px;           /* Додає простір між елементами (необов'язково) */
    /* Додаткові стилі для прикладу */
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
}

.container {
    float: left;
    display: flex;       /* Активує Flexbox */
    flex-direction: column; /* Розміщує дочірні елементи вертикально */
    gap: 10px;           /* Додає простір між елементами (необов'язково) */
    /* Додаткові стилі для прикладу */
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
}

.output {
    display: flex;       /* Активує Flexbox */
    background-color: #262532;
}
